$font-family: 'DINOT';
$src: './..';
$font-path: '#{$src}/fonts';
$primary-green: #00877c;
$primary-yellow: #fbe122;
$index-dark-bg: #203141;
$white: #fff;
$black: #000;
$primary-orange: #f68d2e;
$card-gray: #ececec;
// tab color
$tab-primary: #37424a;
$tab-secondary: #6eceb2;
$tab-shade1:#dbeee9;
$tab-shade2:#a9e7d4;
$tab-shade4:#50c6bd;
$tab-shade5:#0ab1a3;
$tab-radius: 20px;
$tab-shade7: #0d988c;
//media queries
$for-mobile: 575px;
$for-medium-desktop: 1100px;
$for-phones-landscape: 767px;
$ipad-pro: 991px;
$med-desktop: 1350px;
$micro-mobile: 450px;