//specefic style for healthcare tab
&.healthcare-tabs {
    &.without_accordion {
        @include respond-to(below-ipad) {
            width: calc(100% + 30px);
            left: -15px;
            position: relative;
        }
    }
    ul.nav-tabs {
        padding-left: 3rem;
        @include respond-to(below-large-screens) {
            padding-left: 0;
            justify-content: center;
        }
        .nav-item {
            a {
                min-width: 250px;
                clip-path: polygon(3% 0%, 95% 0%, 100% 100%, 0% 100%);
                border-top-left-radius: 25px;
                border-top-right-radius: 25px;
                @include respond-to(below-large-screens) {
                    min-width: 165px;
                    width: auto;
                    max-width: 165px;
                    font-size: 14px;
                }
                @include respond-to(below-ipad) {
                    min-width: 140px;
                    width: auto;
                    max-width: 140px;
                    font-size: 13px;
                }
            }
            &.shade-light-green {
                a {
                    background: $tab-secondary;
                    color: $black;
                }
            }
            &.shade-dark-green {
                a {
                    background: $primary-green;
                    color: white;
                    @include respond-to(below-large-screens) {
                        padding-left: 3rem;
                        padding-right: 3rem;
                    }
                }
            }
        }
    }
    .tab-content {
        .pane-light-green {
            background: $tab-secondary;
        }
        .pane-dark-green {
            background: $primary-green;
        }
    }
}